<h2>{{pageData.title}}</h2>
<form [formGroup]="credentialsForm"
      class="container">
	<label for="email">Email</label>
	<input name="email"
	       formControlName="email"
	       autocomplete="your email"
	       type="email" />
	<label for="password">Password</label>
	<input name="password"
	       formControlName="password"
	       autocomplete="your password"
	       type="password" />
	<button [disabled]="credentialsForm.invalid"
	        (click)="sendCredential()">{{ pageData.title }}</button>
	<a [routerLink]="['..',pageData.alternate | lowercase]">{{ pageData.alternate }}</a>
</form>
<i>{{ errorMessage }}</i>
