<h2>{{pageData.title}}</h2>
<form class="container">
  <label for="email">Email</label>
  <input name="email"
         [(ngModel)]="pageData.credential.email"
         type="email" />
  <label for="password">Password</label>
  <input name="password"
         [(ngModel)]="pageData.credential.password"
         type="password" />
  <button (click)="sendCredential()">{{ pageData.title }}</button>
  <a [routerLink]="['..',pageData.alternate | lowercase]">{{ pageData.alternate }}</a>
</form>
<i>{{ errorMessage }}</i>
