<h2>{{pageData.title}}</h2>
<form *ngIf="credentialsForm"
      [formGroup]="credentialsForm"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="space-between start"
      fxLayoutGap="10px">
	<cf-control [formGroup]="credentialsForm"
	            controlName="email"
	            controlLabel="Email">
		<input name="email"
		       formControlName="email"
		       autocomplete="your email"
		       type="email" />
	</cf-control>
	<cf-control [formGroup]="credentialsForm"
	            controlName="password"
	            controlLabel="Password">
		<input name="password"
		       formControlName="password"
		       autocomplete="your password"
		       type="password" />
	</cf-control>
	<button [disabled]="credentialsForm.invalid"
	        (click)="sendCredential()">{{ pageData.title }}</button>
	<a [routerLink]="['..',pageData.alternate | lowercase]">{{ pageData.alternate }}</a>
</form>
<i>{{ errorMessage }}</i>
