<h2>{{ title | uppercase }}</h2>
<table *ngIf="numberOfOperations>0;else emptyList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Kind</th>
      <th>Amount</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operation of operations">
      <td>
        <a [routerLink]="[operation._id]">{{ operation._id }}</a>
      </td>
      <td>{{ operation.description }}</td>
      <td>{{ operation.kind }}</td>
      <td style="float:right">{{ operation.amount }}</td>
      <td>
        <button (click)="deleteOperation(operation)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #emptyList>
  <h3>No operations yet.</h3>
</ng-template>
