<h2>{{ title | uppercase }}</h2>
<form [formGroup]="operationsFrom"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="space-between start"
      fxLayoutGap="10px">
	<cf-control [formGroup]="operationsFrom"
	            controlName="description"
	            controlLabel="Description">
		<input name="description"
		       formControlName="description"
		       autocomplete="operation description"
		       type="text" />
	</cf-control>
	<cf-control [formGroup]="operationsFrom"
	            controlName="amount"
	            controlLabel="Amount">
		<input name="description"
		       formControlName="amount"
		       type="number" />
	</cf-control>
	<cf-control [formGroup]="operationsFrom"
	            controlName="kind"
	            controlLabel="Kind of Operation">
		<select name="kind"
		        formControlName="kind">
			<option [value]="">Please select a kind</option>
			<option *ngFor="let kind of kindsOfOperations"
			        [value]="kind">{{kind}}</option>
		</select>
	</cf-control>
	<button [disabled]="operationsFrom.invalid"
	        (click)="saveOperation()">Save</button>
</form>
<blockquote fxLayout="column"
            fxLayoutAlign="center center">
	<span>
		Number of Operations: {{ numberOfOperations }}
	</span>
	<em>Current: {{ operationsFrom.value | json }}</em>
</blockquote>
