<h2>{{ title | uppercase }}</h2>
<form [formGroup]="operationsFrom"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="space-between start"
      fxLayoutGap="10px">
	<mat-form-field>
		<input matInput
		       name="description"
		       formControlName="description"
		       placeholder="Description"
		       type="text" />
		<mat-error *ngIf="operationsFrom.controls['description'].invalid">"Invalid description"</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput
		       name="amount"
		       formControlName="amount"
		       placeholder="Amount"
		       type="text" />
		<mat-error *ngIf="operationsFrom.controls['amount'].invalid">"Invalid amount"</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-select placeholder="Kind of Operation">
			<mat-option *ngFor="let kind of kindsOfOperations"
			            [value]="kind">
				{{ kind }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<button mat-button
	        color="primary"
	        [disabled]="operationsFrom.invalid"
	        (click)="saveOperation()">Save</button>
</form>
<blockquote fxLayout="column"
            fxLayoutAlign="center center">
	<span>
		Number of Operations: {{ numberOfOperations }}
	</span>
	<em>Current: {{ operationsFrom.value | json }}</em>
</blockquote>
