<h2>{{ title | uppercase }}</h2>
<form [formGroup]="operationsFrom"
      class="container">
	<label for="description">Description</label>
	<input name="description"
	       formControlName="description"
	       type="text" />
	<cf-control-error [formControl]="operationsFrom.controls['description']"></cf-control-error>
	<label for="amount">Amount</label>
	<input name="amount"
	       formControlName="amount"
	       type="number" />
	<cf-control-error [formControl]="operationsFrom.controls['amount']"></cf-control-error>
	<label>Kind of Operation</label>
	<select name="kind"
	        formControlName="kind">
		<option [value]="">Please select a kind</option>
		<option *ngFor="let kind of kindsOfOperations"
		        [value]="kind">{{kind}}</option>
	</select>
	<button [disabled]="operationsFrom.invalid"
	        (click)="saveOperation()">Save</button>
</form>
<blockquote>
	Number of Operations:{{ numberOfOperations }}
	<em>Current: {{ operationsFrom.value | json }}</em>
</blockquote>
